.custom-shape-divider-top-1644954627 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1644954627 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 107px;
}

.custom-shape-divider-top-1644954627 .shape-fill {
  fill: #d3a999;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1644954627 svg {
    width: calc(200% + 1.3px);
    height: 100px;
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #211d1e;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #e9e7e2;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
     * 3DX
     */
.hamburger--3dx .hamburger-box {
  -webkit-perspective: 80px;
          perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
  -webkit-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx .hamburger-inner::before,
.hamburger--3dx .hamburger-inner::after {
  -webkit-transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.hamburger--3dx.is-active .hamburger-inner::before {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
          transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  -webkit-transition: background-color 0s 0.13s linear;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
          transform: translate3d(0, 10px, 0) rotate(-45deg);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Proza Libre', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.sticky-body {
  overflow: hidden;
}

.arrow-down {
  position: absolute;
  margin: 0 auto;
  bottom: 2vh;
  font-size: 2rem;
  color: #e9e7e2;
  padding: 0.5em;
  cursor: pointer;
  z-index: 50;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}

.header-title, .header-text {
  font-family: 'Dancing Script', cursive;
  margin: 1em;
  color: #e9e7e2;
  z-index: 3;
}

.header-text {
  font-family: 'Proza Libre', sans-serif;
  text-align: center;
  opacity: 0.7;
  font-weight: 300;
  z-index: 3;
}

.header-img {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/header-logo-small.jpg);
  background-size: cover;
  background-attachment: center;
  background-position: center;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  width: 100vw;
  height: 100vh;
}

.nav__top {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 12vh;
  z-index: 100;
}

.nav__top-logo {
  font-family: 'Dancing Script', cursive;
  text-decoration: none;
  color: #e9e7e2;
  font-size: 2rem;
  z-index: 100;
  padding: 0.5em 1em;
}

.nav__top--darkness {
  background-color: rgba(0, 0, 0, 0.4);
}

.hamburger {
  z-index: 100;
  margin-right: 0.5em;
}

.nav__items {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #fcdae0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  z-index: 99;
}

.nav__items--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__items--item {
  position: relative;
  text-decoration: none;
  color: #211d1e;
  padding: 0.7em;
  margin: 1em;
}

.nav__items--item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background-color: #211d1e;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  content: '';
}

.nav__items--item:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.main {
  position: relative;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  width: 100vw;
  background-color: #e9e7e2;
}

.section-title {
  display: block;
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: #211d1e;
}

.aboutus {
  position: relative;
  margin: 1em auto;
  text-align: center;
  z-index: 3;
}

.aboutus-text {
  text-align: center;
}

.offer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 3;
  background-color: #e9e7e2;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 500px;
  margin: 1em;
  border-radius: 10px;
  background-color: #ebc5ae;
  color: #211d1e;
  -webkit-box-shadow: 2px 2px 2px #d4b6aa;
          box-shadow: 2px 2px 2px #d4b6aa;
}

.card-img {
  width: 140px;
  border-radius: 10px;
  height: 25%;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  background-size: cover;
  background-position: center;
  background-attachment: center;
  margin-top: 1em;
}

.card__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 75%;
}

.card__box-title {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
}

.card__box-text {
  text-align: center;
  height: 65%;
  font-size: 1.5rem;
}

.card__box-price {
  bottom: 0.5em;
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 1em;
  color: #c03131;
}

.section-space {
  position: relative;
  opacity: 0.4;
  z-index: 1;
}

.custom-shape-divider-top-1645021744 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1645021744 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1645021744 .shape-fill {
  fill: #d3a999;
}

.custom-shape-divider-top-1645041067 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1645041067 svg {
  position: relative;
  display: block;
  width: calc(109% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1645041067 .shape-fill {
  fill: #d3a999;
}

.section-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  height: 300px;
  margin: 1em auto;
  background-color: #e9e7e2;
  border-radius: 8px;
  z-index: 3;
}

.box__img {
  height: 100%;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.box__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  height: 100%;
}

.box__text-name {
  font-size: 2rem;
  text-align: center;
}

.box__text-post {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 1.8rem;
}

.box__text-info {
  text-align: center;
  font-size: 1.3rem;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  margin: 1em auto;
  background-color: #e9e7e2;
  overflow: hidden;
}

.gallery-img {
  display: inline-block;
  margin: 1em;
  border: 3px solid #d4b6aa;
  width: 400px;
  max-width: 600px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-img-img:hover {
  -webkit-transform: rotateZ(150deg);
          transform: rotateZ(150deg);
}

.slick-prev {
  position: absolute;
  top: 50%;
  left: 10px;
  background: url(https://raw.githubusercontent.com/solodev/fontawesome-slickslider-links/master/images/arrow.png) center no-repeat;
  fill: #f1f1f1;
  border-radius: 3px;
  border: 1px solid #d4b6aa;
  background-color: #a5aeb7;
  opacity: 0.8;
  width: 30px;
  height: 30px;
  text-indent: -10000px;
  z-index: 2;
  margin-top: -15px;
  cursor: pointer;
}

.slick-next {
  position: absolute;
  top: 50%;
  right: 10px;
  background: url(https://raw.githubusercontent.com/solodev/fontawesome-slickslider-links/master/images/arrow.png) center no-repeat;
  fill: #f1f1f1;
  border-radius: 3px;
  border: 1px solid #d4b6aa;
  background-color: #a5aeb7;
  opacity: 0.8;
  width: 30px;
  height: 30px;
  text-indent: -10000px;
  z-index: 2;
  margin-top: -15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

.section-test {
  height: 400vh;
}

@media (max-width: 768px) {
  .custom-shape-divider-top-1645021744 svg {
    width: calc(216% + 1.3px);
    height: 387px;
  }
  .custom-shape-divider-top-1645041067 svg {
    width: calc(100% + 1.3px);
    height: 138px;
  }
}
/*# sourceMappingURL=main.css.map */