@import './colors';
@import './components';
@import './hamburger';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
// ustalamy font size na 10 px aby remy i emy byly latwiejsze
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	// font-family: 'Dancing Script', cursive;
	font-family: 'Proza Libre', sans-serif;
	font-size: 1.6rem;
	overflow-x: hidden;
}
.header-img {
	background-image: url(../img/header-logo-big.jpg);
	background-size: cover;
	background-attachment: center;
	background-position: center;
	filter: brightness(0.3);
	width: 100vw;
	height: 100vh;
}

.nav__top {
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	height: 15vh;
	&-logo {
		font-family: 'Dancing Script', cursive;
		text-decoration: none;
		color: $light-pink-color;
		font-size: 2rem;
		z-index: 100;
		padding: 0.5em 1em;
	}
}
.hamburger {
	z-index: 100;
	margin-right: 0.5em;
}
// nav mobile
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow-x: hidden;

	&__items {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		width: 100vw;
		background-color: rgb(252, 218, 224);
		transform: translateX(100%);
		transition: transform 0.4s ease-in-out;
		z-index: 99;
		&--active {
			transform: translateX(0);
		}
		&--item {
			text-decoration: none;
			color: $text-color;
			padding: 1em;
			margin: 1em;
		}
	}
}

.section-test {
	height: 100vh;
}
