@import './colors';
@import './components';
@import './hamburger';
@import './animation';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
// ustalamy font size na 10 px aby remy i emy byly latwiejsze
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	// font-family: 'Dancing Script', cursive;
	font-family: 'Proza Libre', sans-serif;
	font-size: 1.6rem;
	overflow-x: hidden;
}

// animation
.bounce-in-fwd {
	display: block;
	animation: bounce-in-fwd 2s infinite backwards;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.sticky-body {
	overflow: hidden;
}
.deskop {
	display: none;
}
.arrow-down {
	position: absolute;
	margin: 0 auto;
	bottom: 10vh;
	font-size: 2.4rem;
	color: $light-pink-color;
	padding: 0.5em;
	cursor: pointer;
	z-index: 50;
	text-decoration: none;
}
.header {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	&-title,
	&-text {
		font-family: 'Dancing Script', cursive;
		margin: 1em;
		color: $light-pink-color;
		z-index: 3;
	}
	&-text {
		font-family: 'Proza Libre', sans-serif;

		text-align: center;
		opacity: 0.7;
		font-weight: 300;
		z-index: 3;
	}
}
.header-img {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/header-logo-small.jpg);
	background-size: cover;
	background-attachment: center;
	background-position: center;
	filter: brightness(0.5);
	width: 100vw;
	height: 100vh;
}

.nav__top {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	height: 12vh;
	z-index: 100;

	&-logo {
		font-family: 'Dancing Script', cursive;
		text-decoration: none;
		color: $light-pink-color;
		font-size: 2rem;
		z-index: 100;
		padding: 0.5em 1em;
	}
	&--darkness {
		background-color: rgba(0, 0, 0, 0.4);
	}
}
.hamburger {
	z-index: 100;
	margin-right: 0.5em;
}
// nav mobile
.nav {
	&__items {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		width: 100%;
		background-color: rgb(252, 218, 224);
		transform: translateX(100%);
		transition: transform 0.4s ease-in-out;
		z-index: 99;

		&--active {
			transform: translateX(0);
		}
		&--item {
			position: relative;
			text-decoration: none;
			color: $text-color;
			padding: 0.7em;
			margin: 1em;
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 2px;
				height: 100%;
				transform: scaleY(0);
				background-color: $text-color;
				transition: transform 0.3s;
				content: '';
			}
			&:hover::before {
				transform: scaleY(1);
			}
		}
	}
}
.main {
	position: relative;
}
// section title!!!!!!
.section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	width: 100%;
	background-color: $light-pink-color;
	&-title {
		display: block;
		font-family: 'Dancing Script', cursive;
		font-size: 3rem;
		color: $text-color;
	}
}

.aboutus {
	position: relative;
	margin: 1em auto;
	text-align: center;
	line-height: 2em;
	z-index: 3;

	&-text {
		margin: 2em 1em;
		text-align: center;
	}
}
.offer {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	z-index: 3;
	background-color: $light-pink-color;
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 500px;
	margin: 1em;
	border-radius: 10px;
	background-color: $main-color;
	color: $text-color;
	box-shadow: 2px 2px 2px $pastels-color;
	&-img {
		width: 140px;
		border-radius: 10px;
		height: 25%;
		filter: brightness(0.5);
		background-size: cover;
		background-position: center;
		background-attachment: center;
		margin-top: 1em;
	}
	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 75%;
		&-title {
			text-align: center;
			margin-bottom: 1.5em;
			width: 100%;
			font-size: 2rem;
			font-weight: bold;
		}
		&-text {
			margin-bottom: 1.5em;
			text-align: center;
			height: 65%;
			font-size: 1.5rem;
		}
		&-price {
			bottom: 0.5em;
			position: absolute;
			font-size: 2rem;
			font-weight: bold;
			align-self: flex-end;
			margin-right: 1em;
			color: rgb(192, 49, 49);
		}
	}
}
// shape diver
.section-space {
	position: relative;
	opacity: 1;
	z-index: 1;
}
.custom-shape-divider-top-1645021744 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1645021744 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 150px;
}

.custom-shape-divider-top-1645021744 .shape-fill {
	fill: $light-pink-color;
}
.custom-shape-divider-top-1645041067 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1645041067 svg {
	position: relative;
	display: block;
	width: calc(109% + 1.3px);
	height: 150px;
}

.custom-shape-divider-top-1645041067 .shape-fill {
	fill: $pastels-color;
}

// team
.section-team {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
	margin-bottom: 2em;
}
.box {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 300px;
	height: 300px;
	margin: 1em auto;
	background-color: $light-pink-color;
	border-radius: 8px;
	z-index: 3;
	&__img {
		height: 100%;
		width: 50%;
		object-fit: cover;
		border-radius: 8px;
	}
	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		width: 50%;
		height: 100%;
		&-name {
			font-size: 2rem;
			text-align: center;
		}
		&-post {
			font-family: 'Dancing Script', cursive;
			text-align: center;
			font-size: 1.8rem;
		}
		&-info {
			text-align: center;

			font-size: 1.3rem;
		}
	}
}

// gallery
.section-gallery {
	background-color: $light-pink-color;
}
.gallery {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100vw;
	background-color: $light-pink-color;
	overflow: hidden;
	margin-top: 2em;

	&-img {
		display: inline-block;
		margin: 1em;
		border: 3px solid $pastels-color;
		width: 400px;
		max-width: 600px;
		height: 400px;
		object-fit: cover;

		&-img:hover {
			transform: rotateZ(150deg);
		}
	}
}
.slick-prev {
	position: absolute;
	top: 50%;
	left: 10px;
	background: url(https://raw.githubusercontent.com/solodev/fontawesome-slickslider-links/master/images/arrow.png)
		center no-repeat;
	fill: #f1f1f1;
	border-radius: 3px;
	border: 1px solid $pastels-color;
	background-color: $gray-color;
	opacity: 0.8;
	width: 30px;
	height: 30px;
	text-indent: -10000px;
	z-index: 2;
	margin-top: -15px;
	cursor: pointer;
}
.slick-next {
	position: absolute;
	top: 50%;
	right: 10px;
	background: url(https://raw.githubusercontent.com/solodev/fontawesome-slickslider-links/master/images/arrow.png)
		center no-repeat;
	fill: #f1f1f1;
	border-radius: 3px;
	border: 1px solid $pastels-color;
	background-color: $gray-color;
	opacity: 0.8;
	width: 30px;
	height: 30px;
	text-indent: -10000px;
	z-index: 2;
	margin-top: -15px;
	transform: rotate(180deg);
	cursor: pointer;
}

// CONTACT

// .form-box {
// 	background-color: $gray-color;
// 	width: 100vw;
// }
// .form.error input {
// 	border: 1px solid rgb(0, 147, 260);
// 	background-color: rgba(0, 147, 260, 0.2);
// }

// .form .error-text {
// 	margin: 5px 0 0 10px;
// 	font-size: 14px;
// 	color: blue;
// 	visibility: hidden;
// }
// .form.error .error-text {
// 	visibility: visible;
// }

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80vw;
	margin: 1em auto;

	&__name,
	&__tel,
	&__area,
	&__btn {
		width: 100%;
		padding: 1em;
		margin-top: 0.5em;
		border: none;
		border-radius: 8px;
		background: $gray-color;
		color: $text-color;
		border: 2px solid $pastels-color;
		line-height: px;
		font-size: 1.5rem;
	}
	&__error {
		font-size: 1.5rem;
		align-self: flex-start;
		margin-left: 0.5em;
		color: rgb(187, 43, 43);
		visibility: hidden;
	}
	&__area {
		max-width: 100%;
		width: 100%;
		min-height: 150px;
	}
	&__btn {
		padding: 1em 1.3em;
		background: $pastels-color;
		border: 2px solid $pastels-color;
		cursor: pointer;
		border-radius: 8px;
		align-self: flex-end;
		color: $text-color;
		margin-top: 1em;
		transition: transform 0.3s;
		&:hover {
			transform: scale(1.1);
		}
	}
}
.error {
	border: 1px solid rgb(187, 43, 43);
	background-color: rgba(187, 43, 43, 0.5);
}
.contact__map {
	&-size {
		margin: 2em auto;
	}
}
.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&__map {
		margin: 1em;
	}
}
.contact-icon {
	color: $pastels-color;
	font-size: 3rem;
}

.adress {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $light-pink-color;
	width: 100%;
	text-align: center;

	&__hours {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 2em;

		&-text {
			font-size: 2rem;
		}
	}
}
.adress__box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
	&-icon {
		color: $pastels-color;
		font-size: 3rem;
	}
	&-adress {
		font-size: 1.8rem;
		margin-top: 0.5em;
	}
}
.adress__contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
}
.contact__box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	&-icon {
		font-size: 2rem;
		color: $pastels-color;
		margin-right: 0.5em;
	}
	&-content {
		margin-top: 0.5em;
		font-size: 1.8rem;
	}
}
.contact__box:last-child {
	margin-bottom: 2em;
}
.footer {
	width: 100%;
	background-color: $gray-color;
	height: 8vh;
	display: flex;
	&__text {
		margin: auto;
		text-align: center;
		font-size: 1.4rem;
	}
}

// MEDIA
@media (min-width: 576px) {
	.header {
		&-title {
			font-size: 5rem;
		}
		&-text {
			font-size: 2rem;
		}
	}
	.nav__top-logo {
		font-size: 2.6rem;
	}
	.nav__items--item {
		font-size: 1.9rem;
	}

	.arrow-down {
		font-size: 3rem;
	}
	.section-title {
		font-size: 4rem;
	}
	.aboutus-text {
		font-size: 1.8rem;
		margin: 1em;
	}
	.contact__map-size {
		width: 400px;
		height: 400px;
	}
	.footer {
		&__text {
			font-size: 1.6rem;
		}
	}
}

@media (min-width: 768px) {
	.header {
		&-title {
			font-size: 7rem;
		}
		&-text {
			font-size: 3rem;
		}
	}
	.nav__top-logo {
		font-size: 3rem;
	}
	.nav__items--item {
		font-size: 2.2rem;
	}
	.arrow-down {
		font-size: 3.8rem;
	}
	.section-title {
		font-size: 4.5rem;
	}
	.aboutus-text {
		font-size: 2rem;
		margin: 1em;
	}
	.contact__map-size {
		width: 500px;
		height: 500px;
	}
	.footer {
		&__text {
			font-size: 1.8rem;
		}
	}

	.custom-shape-divider-top-1645021744 svg {
		width: calc(100% + 1.3px);
		height: 300px;
	}
	.custom-shape-divider-top-1645041067 svg {
		width: calc(100% + 1.3px);
		height: 138px;
	}
}
@media (min-width: 992px) {
	.nav__top {
		display: none;
	}
	.header-img {
		background-image: url(/img/header-logo-big.jpg);
	}
	.deskop {
		position: absolute;
		top: 0;
		display: flex;
		flex-direction: row;
		text-align: center;
		justify-content: space-between;
		width: 100%;
		height: 15vh;
		&-logo {
			font-family: 'Dancing Script', cursive;
			text-decoration: none;
			color: $light-pink-color;
			font-size: 3rem;
			margin: auto 1.8em;
		}
		&-nav {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 70%;

			&-item {
				position: relative;
				text-align: center;
				text-decoration: none;
				color: $light-pink-color;
				font-size: 2.2rem;
				margin-left: 2em;
				padding: 0.5em;

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					width: 2px;
					height: 100%;
					transform: scaleY(0);
					background-color: $light-pink-color;
					transition: transform 0.3s;
					content: '';
				}
				&:hover::before {
					transform: scaleY(1);
				}
			}
		}
	}
	.box__text-post {
		font-size: 2rem;
	}
	.form__btn {
		width: 300px;

		margin-right: 1em;
	}
	.contact__map-size {
		width: 800px;
		height: 800px;
	}
	.adress {
		flex-direction: row;
		height: 40vh;
		margin: 0 auto;

		&__hours,
		&__box,
		&__contact {
			font-size: 3rem;
			margin: 1em;
		}
	}
	.adress__box-adress,
	.contact__box-content,
	.adress__hours-text {
		font-size: 2rem;
	}
}
